* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.header{
    padding: 15px;
}

.search-section {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    position: absolute;
    top: 125px;
    color: red;
}

.weather-details{
    padding: 10px;
}

table,
th,
td {
    border: 2px solid white;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    height: 150px;
}

button{
    padding: 5px;
    background-color: blanchedalmond;
    border: 1px solid;
    margin-left: 10px;
}

input{
    padding: 5px;
}